.footer-address {
  font-style: normal;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.partlogo-footer {
  color: var(--text-white-color);
}

.footer {
  padding: 60px 0;
  background: #2f303a;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-item {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 60px;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.footer-address-wrap {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 105px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.join-footer {
  align-items: center;
  @media screen and (min-width: 1200px) {
    margin-right: 33px;
  }
}

.join-footer-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white-color);
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  @extend %align-list;
  justify-content: center;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-soc-icon {
  fill: var(--bg-primary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form {
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 12px;
  }
}

.footer-subscription {
  @media screen and(min-width: 768px) {
    flex-basis: 450px;
  }
  @media screen and (min-width: 1200px) {
    flex-grow: 1;
  }
}

.footer-form-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-white-color);

  margin-bottom: 20px;
}

.footer-input {
  padding: 15px 16px;
  margin-bottom: 20px;
  width: 100%;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);

  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 1200px) {
    flex: 1 1 auto;
  }
}

.footer-btn {
  width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.footer-btn-text {
  margin-right: 10px;
  display: inline-block;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  color: var(--text-white-color);
}

.footer-send-icon {
  fill: var(--bg-primary-color);
}
