.our-team {
  background: var(--bg-secondary-color);
}

.ourteam-header {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.ourteam-description {
  padding-top: 30px;
  padding-bottom: 24px;

  text-align: center;
}

.ourteam {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-secondary-color);
}

.ourteam-desc {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-primary-color);
  margin-bottom: 16px;
}

.ourteam-list {
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}

.ourteam-list-item {
  background: var(--bg-primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.ourteam-soc-list {
  display: flex;
  justify-content: center;
  margin-left: auto;
  gap: 10px;
}

.ourteam-soc-item {
  width: 44px;
  height: 44px;
}

.ourteam-soc-link {
  width: 100%;
  height: 100%;
  background: var(--bg-primary-color);
  border-radius: 50%;
  @extend %align-list;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.ourteam-soc-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .ourteam-soc-link:hover &,
  .ourteam-soc-link:focus & {
    fill: var(--bg-primary-color);
  }
}
