.pecularities {
  background: var(--bg-primary-color);
}

.card-list {
  @media (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.card-list__item {
  @media (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media (max-width: 767px) {
    &:last-child {
      margin-right: 0px;
    }
    display: block;
    width: 100%;
    max-width: 100%;
  }
  @media (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
    &:last-child {
      margin-right: 0px;
    }
  }
}
.card-list__logo {
  @extend %align-list;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;

  background: var(--bg-secondary-color);
  border-radius: 4px;
}

.card-list__header {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-secondary-color);

  @media (max-width: 767px) {
    text-align: center;
  }
}

.card-list__text {
  margin: 0;
  color: var(--text-primary-color);
  @media (min-width: 768px) {
    margin-bottom: 0px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 0px;
  }
}
