.wedo {
  background: var(--bg-primary-color);
  padding-top: 0;

  @media (max-width: 1200px) {
    display: none;
  }
}

.wedo__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.picture-list {
  display: flex;
  gap: 30px;
}

.picture-list__item {
  position: relative;
}

.picture-list__text {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  padding: 27px 20px;

  font-weight: 700;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-white-color);
  background: rgba(47, 48, 58, 0.8);
}
